<footer class="main-footer">
  <div class="container">
    <div class="main-footer__lower">
      <div>&copy; Copyright 2023. All Rights Reserved</div>
      <div>Designed by</div>
      <h1>Om Bhandari</h1>
      <a target="_blank" rel="noreferrer"  [href]="'https://' + 'github.com/OmBhandari'">
        <img class="main-footer__icon" src="../assets/png/github-ico.png" alt="icon" />
      </a>
      <a target="_blank" rel="noreferrer" [href]="'https://' + 'www.linkedin.com/in/om-bhandari-333339268/'">
        <img class="main-footer__icon" src="../assets/png/linkedin-ico.png" alt="icon" />
      </a>
      <a target="_blank" rel="noreferrer" [href]="'https://' + 'instagram.com/omb_100?utm_source=qr&igshid=MzNINGNkZWQ4Mg%3D%3D/'">
        <img class="main-footer__icon" src="../assets/png/insta-ico.png" alt="icon" />
      </a>
    </div>
  </div>
</footer>